<div class="container">
    <table class="table table-stripped">
        <thead>
            <tr>
                <th (click)="sort('project')">
                    Project
                    <span *ngIf="sortColumn === 'project' && sortOrder === 'asc'" class="arrow-icon">&#9650;</span>
                    <span *ngIf="sortColumn === 'project' && sortOrder === 'desc'" class="arrow-icon">&#9660;</span>
                  </th>
                  <th (click)="sort('task')">
                    Task
                    <span *ngIf="sortColumn === 'task' && sortOrder === 'asc'" class="arrow-icon">&#9650;</span>
                    <span *ngIf="sortColumn === 'task' && sortOrder === 'desc'" class="arrow-icon">&#9660;</span>
                  </th>
                  <th (click)="sort('user.name')">
                    Assigned To
                    <span *ngIf="sortColumn === 'user.name' && sortOrder === 'asc'" class="arrow-icon">&#9650;</span>
                    <span *ngIf="sortColumn === 'user.name' && sortOrder === 'desc'" class="arrow-icon">&#9660;</span>
                  </th>
                  <th (click)="sort('from')">
                    From
                    <span *ngIf="sortColumn === 'from' && sortOrder === 'asc'" class="arrow-icon">&#9650;</span>
                    <span *ngIf="sortColumn === 'from' && sortOrder === 'desc'" class="arrow-icon">&#9660;</span>
                  </th>
                  <th (click)="sort('to')">
                    To
                    <span *ngIf="sortColumn === 'to' && sortOrder === 'asc'" class="arrow-icon">&#9650;</span>
                    <span *ngIf="sortColumn === 'to' && sortOrder === 'desc'" class="arrow-icon">&#9660;</span>
                  </th>
                  <th (click)="sort('status.status')">
                    Status
                    <span *ngIf="sortColumn === 'status.status' && sortOrder === 'asc'" class="arrow-icon">&#9650;</span>
                    <span *ngIf="sortColumn === 'status.status' && sortOrder === 'desc'" class="arrow-icon">&#9660;</span>
                  </th>
                  <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let timesheet of timesheets">
                <td> {{ timesheet.project }} </td>
                <td> {{ timesheet.task }} </td>
                <td> {{ timesheet.user.name }} </td>
                <td> {{ timesheet.from }} </td>
                <td> {{ timesheet.to }} </td>
                <td> {{ timesheet.status.status }} </td>
                <td>
                    <button (click) = "updateTimesheet(timesheet.id, timesheet.project, timesheet.task, timesheet.user.id, timesheet.from, timesheet.to, timesheet.status.id)" class="btn btn-info">Update</button>
                    <button (click) = "deleteTimesheet(timesheet.id)" class="btn btn-danger">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>